footer {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Raleway';
    font-size: 8px;
    background-color: #1c1c1c;
  }